<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>shophere.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpro</servlet-name>
        <servlet-class>shophere.addpro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pilu</servlet-name>
        <servlet-class>shophere.pilu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>silu</servlet-name>
        <servlet-class>shophere.silu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gilu</servlet-name>
        <servlet-class>shophere.gilu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tilu</servlet-name>
        <servlet-class>shophere.tilu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyoradd</servlet-name>
        <servlet-class>shophere.buyoradd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addorbuy</servlet-name>
        <servlet-class>shophere.addorbuy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewcart</servlet-name>
        <servlet-class>shophere.viewcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>shophere.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>shophere.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>shophere.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getpic</servlet-name>
        <servlet-class>shophere.getpic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newproduct</servlet-name>
        <servlet-class>shophere.newproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sellersignup</servlet-name>
        <servlet-class>shophere.sellersignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleterequest</servlet-name>
        <servlet-class>shophere.deleterequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcomment</servlet-name>
        <servlet-class>shophere.addcomment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpro</servlet-name>
        <url-pattern>/addpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pilu</servlet-name>
        <url-pattern>/pilu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>silu</servlet-name>
        <url-pattern>/silu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gilu</servlet-name>
        <url-pattern>/gilu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tilu</servlet-name>
        <url-pattern>/tilu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyoradd</servlet-name>
        <url-pattern>/buyoradd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addorbuy</servlet-name>
        <url-pattern>/addorbuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewcart</servlet-name>
        <url-pattern>/viewcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getpic</servlet-name>
        <url-pattern>/getpic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newproduct</servlet-name>
        <url-pattern>/newproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sellersignup</servlet-name>
        <url-pattern>/sellersignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleterequest</servlet-name>
        <url-pattern>/deleterequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcomment</servlet-name>
        <url-pattern>/addcomment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>userhome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
